* {
  box-sizing: border-box;
}

body { 
  margin: -20px 0;
  top:0;
}

html {
  margin: 0;
}



.compendium {
  width: 110vw;
  height: 110vh;
  background-attachment: fixed;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(37, 161, 78, 0.799), rgba(37, 161, 100, 0.799)), url(../src/images/DeepWeb.gif);
  background-size: cover;
  background-position: top;
  z-index: -3; }