* {
  box-sizing: border-box;
}

body { 
  margin:0;
  top:0;
  background-color: #160f0c;
}

html {
  margin: 0;
  font-family: 'PT Mono', monospace;
  font-weight: 100;
}

.blogs, .stories, .collective, .mediaWiki {
  display: inline-block;
  border: .7rem solid white;
  padding: 2rem;
  margin: 0rem auto 2rem;
  width: 80%;
  max-width: 100rem;
  background-color: rgba(47, 79, 79, .9);
  max-width: 100%;
}

.compendium {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('./images/tstcBackground2.gif');
  background-repeat: repeat-y;
  position: relative;
  text-align: center;
  padding: 0rem;
  background-size: cover;
  background-position: top;
  z-index: -3; }

  footer {
    width:100%;
    height: 10rem;
    color:white;
    bottom: 0;
  }

  header {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .modal-ul {
    list-style: none;
    text-align: left;
  }

  .subtitle-text {
    font-size: 1.5rem;
  }

  .ticker-box {
    width: 100%;
    z-index: 1;
  }

  .ticker {
    background-color: aliceblue;
    color: black;
    border: .5rem ridge darkgrey;
    font-family: 'VT323', monospace;
  }

  .typewriter {
    color: rgb(102, 255, 0);
    padding: 2rem auto 3rem;
    margin: 0 auto;
  }

  .title-text {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    font-size: 2rem;
    letter-spacing: -1.5rem;
    border-right: .15em solid rgb(102, 255, 0); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 5.5s steps(40, end),
      blink-caret 1s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(105, 255,0); }
  }

  @media only screen and (min-width: 1024px){
    .ticker-box {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    .typewriter h1 {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      font-family: 'PT Mono', monospace;
      font-weight: 100;
      font-size: 2rem;
      width: 80%;
      max-width: 100rem;
      letter-spacing: -1rem;
      color: rgb(102, 255, 0);
      border-right: .15em solid rgb(102, 255, 0); /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 2rem auto 3rem; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; /* Adjust as needed */
      animation: 
        typing 5.5s steps(40, end),
        blink-caret 1s step-end infinite;
    }

  }